@font-face
{
    font-family: openSansRegular;
    src: url("../../resources/fonts/open_sans/OpenSans-Regular.ttf");
}

body
{
    font-family: openSansRegular;
    font-size: 1rem;
}

#loadingText
{
    margin: auto;
    position: absolute;
    left: 35%;
    top: 40%;
}

svg
{
    position: absolute;
    left: 45%;
    top: 20%;
}

rect
{
    fill: #76daff;
}