#history_item_view
{
    width: 100%;
    height: 40%;
    margin-top: 5%;
    margin-bottom: 2%;

//background-color: red;

    float: left;

    white-space: nowrap;
    overflow-x: scroll;
}

.history_item_container
{
    width: 20%;
    height: 85%;
    margin-top: 20px;
    margin-left: 1.5%;


    background-color: rgba(0,0,0,0.4);

    position: relative;
    display:inline-block;
    overflow: hidden;

    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: 1px solid #000000;

    /* Animation */
    transition: all .2s ease-in-out;
}

.history_item_container:hover
{
    background-color: rgba(0,0,0,0.6);
    -webkit-transform: scale(1.1);
}

.history_item_container > *
{
    position: absolute;
    overflow: hidden;
}

.historyFavicon
{
    top: 20%;
    left: 3%;
    /*background-color: rgba(255,255,255,0.4);*/
}

.historyTitle
{
    top: 20%;
    left: 10%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.historyVisits
{
    font-family: openSansItalic;
    color: black;
    top: 30%;
    left: 1%;
}

.historyDate
{
    top: 40%;
    left: 1%;
    font-size: 0.6rem;
    color: white;
}

.historyLink
{
    bottom: 4%;
    margin-left: 1%;
    color: black;
}

/* Checkbox */
.historyDeleteCheckbox
{
    left: 0%;
    top: 1px;
    width: 100%;
    height: 15%;
    border-radius: 3px;
    text-align: center;
    background-color: rgba(0,0,0,0);

    color: black;

    -webkit-transition: all .2s ease-in-out;
}

.historyDeleteCheckbox:hover
{
    background-color: rgba(215, 44, 44, 0.4);
}

.historyDeleteCheckbox:hover > *
{
    opacity: 1;
}

.historyDeleteCheckbox > *
{
    opacity: 0.5;
    right: 2%;
    position: relative;
}



input[type=checkbox] {
    font-size: 16px;
    position: relative;
    border: 1px solid #262626;
    display: inline-block;
    line-height: 1em;
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
    background: -webkit-linear-gradient(
            top, rgba(255,255,255,0.4), rgba(255,255,255,0.1)
    );
    -webkit-appearance: none;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.1),
    inset 0 0 1px rgba(255,255,255, 0.4);
    -webkit-border-radius: 3px;
}


input[type=checkbox]:checked::after {
    position: absolute;
    content: '';
    left: 0%;
    top: 16%;
    height: 40%;
    width: 90%;
    -webkit-box-shadow: -1px 1px 0 rgba(0,0,0,0.8);
    -webkit-transform: rotate(-45deg);
}
